@model NetChallange.Web.Models.CompanyViewModel.CompanyHomeViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewBag.Title = " Şirket Listesi";
}
<style>
    .pagination {
        float: right;
        margin-top: 5px;
    }
</style>

<div class="card mt-3 shadow">
    <div class="card-header">
        <div>
            <h4 class="float-left">
                Şirket Liste
            </h4>
            <p class="float-right">
                @Html.ActionLink(" Şirket Ekle", "Create", "Company", null, new { @class = "btn btn-primary", title = "Şirket Ekle" })
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
    <div id="AddressGridContainer">
        @await Html.PartialAsync("List", Model)
    </div>
</div>

@Html.PagedListPager(Model.PagedList, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    }
    )

@section Scripts{
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
            $('li.disabled > a').text('List');
        })
    </script>
}
