@model NetChallange.Web.Models.ContactViewModel.ContactCEViewModel
@{
    ViewBag.Title = "İletişim Güncelle";
}

@using (Html.BeginForm("EditConfirmed", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(p => p.Id)
        @await Html.PartialAsync("_CreateEdit")
    </div>
}

